@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(imagens/2k_stars.jpg);
  background-size: contain;
  position: static;
  height: 100vh;
  width: 100vw;
}

h1 {
  padding: 2rem;
  color: rgb(210, 38, 240);
  text-shadow: 1px 0.9px rgb(255, 255, 255);
  flex-basis: auto;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}

h2 {
  padding: 15px;
  margin: 0px;
  text-align: center;
  color: rgb(218, 145, 240);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  padding: 1px;
  margin: 0px;
  font-size: 15px;
}

.history {
  max-width: 600%;
  text-align: justify;
  margin: 10px;
  display: grid;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards .card{
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  color: white;
  background-color: rgba(22,22,22, 0.573);
  transition: 400ms;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 3px 7px 10px  rgba(215,143,228,0.75) ;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 800;
}

.cards .card p.second-text {
  font-size: 0.9em;
}

.cards .card:hover {
  transform: scale(1.1,1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9,0.9);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Exibe os projetos como cards em colunas flexíveis */
  gap: 20px;
  padding: 20px;
}

.project {
  color: rgb(211, 135, 238);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;

  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease ;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.project:hover {
  transform: translateY(-10px); /* Move o card para cima */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Aumenta a sombra ao passar o mouse */
}

.project p {
  margin: 10px;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(235, 235, 235);
}

.project img {
  max-width: 100%;
  display: block;
  margin: 0 auto;

  border-radius: 10px;
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.05); /* Aumenta levemente a imagem ao passar o mouse */
}

.project a {
  text-decoration: none;
  color: #f9a9e9; /* Cor do link */
  font-weight: bold;
  transition: color 0.3s ease; /* Transição suave para a cor do link */
}

.project a:hover {
  color: #ff1074; /* Cor do link ao passar o mouse */
}

a:link {
  color: rgb(224, 202, 244);
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: rgb(212, 120, 230);
}

nav {
  top: 0;
  right: 0;
  color: pink;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  border: 2px solid transparent;
  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: rgb(245, 155, 209);
  font-size: 1em;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}


nav ul li {
  margin: 0 10px;
}

nav ul li:hover {
  color: white;
  box-shadow: none;
  opacity: 80%;
  text-decoration: double;
  cursor: pointer;
}

section {
  transition: all 0.5s ease-in-out; 
} 

.contatos {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons {
  display: flex;
  list-style: none;
}

.icons li {
  margin: 0 10px;
}

.icons li a {
  color: inherit;
  text-decoration: none;
  font-size: 34px;
  transition: transform 0.3s eae, color 0.3s ease;
}

.icons li a.fa-brands.fa-square-instagram,
.icons li a.fa-brands.fa-linkedin,
.icons li a.fa-brands.fa-square-github {
color: rgb(210, 116, 226);
}

.icons li a:hover {
  color: #e6b3dc;
  transform: scale(1.2);
}

footer {
  background-color: rgba(145, 145, 145, 0.14);
  color: white;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

/* Estilos para celulares pequenos */
@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  section {
    margin-bottom: 2rem;
  }
  section input {
    width: 100%;
  }
  section {
    margin-bottom: 1.2rem;
  }
  footer {
    width: 100%;
  }
  .cards .card {
    width: 100%;
    font-size: 1em;
    display: flex;
  }
}

/* Estilos para celulares e tablets */
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  section {
    margin-bottom: 2rem;
  }
  footer {
    width: 100%;
  }
  .cards .card {
    width: 100%;
    font-size: 1em;
    display: flex;
}
}

/* Estilos para tablets e pequenos laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  section {
    margin-bottom: 3rem;
  }
  section input {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .cards .card {
    flex-direction: column;
  }
}

/* Estilos para telas maiores e TVs */
@media (min-width: 1025px) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  nav {
    font-size: 1.2rem;
  }
  section {
    margin-bottom: 4rem;
  } 
  section input {
    width: 100%;
  }
  footer {
    width: 100%;
    font-size: 1.5rem;
  }
  .project img {
    width: 60%;
  }
  .history {
    font-size: 1.5rem;
  }

  .cards .card {
    font-size: 1.4rem;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
}
